@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IcddWebApp.PageModels.Container.ContainerPageModel

<!-- Modal -->
<div class="modal" id="modalAddExternalDocument" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create a new external document</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("CreateExternalDocument", "Container", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.Hidden("projId", Model.Project.Id)
                    @Html.Hidden("id", Model.ContainerMetadata.Id)
                    @Html.Hidden("containerVersion", Model.ContainerMetadata.Version)
                    <div class="input-group mb-3">
                        <span class="input-group-text required-asterisk" style="width:150px;" id="basic-addon2">Document URL</span>
                        <input name="documenturi" type="url" class="form-control" placeholder="Document URL" aria-label="DocumentUri" aria-describedby="basic-addon2" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text required-asterisk" style="width:150px;" id="basic-addon2">Description</span>
                        <input name="description" type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon2" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:150px;" id="basic-addon2">Schema</span>
                        <input name="schema" type="text" class="form-control" placeholder="Schema" aria-label="Schema" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:150px;" id="basic-addon2">Schema-Subset</span>
                        <input name="schemaSubset" type="text" class="form-control" placeholder="Schema-Subset" aria-label="Schema-Subset" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:150px;" id="basic-addon2">Schema-Version</span>
                        <input name="schemaVersion" type="text" class="form-control" placeholder="Schema-Version" aria-label="Schema-Version" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="required-asterisk-before">Required Field</div>
                    <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-rub-blue rounded-0">Create</button>
                </div>
            }
        </div>
    </div>
</div>