@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IcddWebApp.PageModels.Container.ContainerPageModel
<!-- Modal -->
<div class="modal" id="modalAddOntology" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add ontology to container</h5>
                <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Html.BeginForm("AddOntology", "Container", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    @Html.Hidden("projId", Model.Project.Id)
                    @Html.Hidden("id", Model.ContainerMetadata.Id)
                    @Html.Hidden("containerVersion", Model.ContainerMetadata.Version)

                    <select name="selectTypeOntology" onchange="toggleCheckOntology(this)" class="form-select">
                        <option id="selectURLOntology" value="url">Import from Web URL</option>
                        <option id="selectFileOntology" value="file">Import from File</option>
                    </select>
                    <hr />

                    <!-- web url -->
                    <div id="showURLOntology">
                        <div class="input-group mb-3">
                            <span class="input-group-text required-asterisk" style="width:150px;" id="basic-addon2">Web URL</span>
                            @{ var regexURL = @"http[s]?:\/\/(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+.(?:ttl|nt|rdf|nq|n3|trig)";}
                            <input id="urlInputOntology" name="WebUrl" type="text" class="form-control" placeholder="Web URL" aria-label="WebUrl" aria-describedby="basic-addon2" pattern=@regexURL title="URL must be HTTP(S) and end with the following file extension: '.ttl', '.nt', '.rdf', '.nq', '.n3', or '.trig'." required>
                        </div>
                    </div>

                    <!-- file -->
                    <div id="showFileOntology" style="display: none;">
                        <div class="input-group mb-3">
                            <span class="input-group-text required-asterisk" style="width:150px;" id="basic-addon2">File</span>
                            <input type="file" name="UploadFile" id="UploadFileOntology" class="form-control" accept=".ttl, .nt, .rdf, .nq, .n3, .trig"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="required-asterisk-before">Required Field</div>
                    <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-rub-blue rounded-0">Create</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    function toggleCheckOntology(that) {
        if (that.value == "url") {
            document.getElementById("showURLOntology").style.display = "block";
            document.getElementById("urlInputOntology").required = true;

            document.getElementById("showFileOntology").style.display = "none";
            document.getElementById("UploadFileOntology").required = false;
        }
        else if (that.value == "file") {
            document.getElementById("showFileOntology").style.display = "block";
            document.getElementById("UploadFileOntology").required = true;

            document.getElementById("showURLOntology").style.display = "none";
            document.getElementById("urlInputOntology").required = false;
        }
        else {
            document.getElementById("showFileOntology").style.display = "none";
            document.getElementById("UploadFileOntology").required = false;

            document.getElementById("showURLOntology").style.display = "none";
            document.getElementById("urlInputOntology").required = false;
        }
    }
</script>