@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="container my-auto">
    <div class="alert-message alert-message-info align-self-center">
        <h4>
            @ViewData["Title"]
        </h4>
        <p>
            Please check your email to reset your password.
        </p>

    </div>
</div>
